.ticket-column {
  /* border: 1px solid #ccc; */
  padding: 15px;
  margin: 0 10px;
  flex: 1;
  justify-content: center;
  align-items: baseline;
  /* background-color: #f5f5f5; */
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.ticket-column h2 {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Count badge styles */
.ticket-count-badge {
  background-color: #007bff;
  color: #fff;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 14px;
 
}

.ticket-count-badge:empty {
  display: none; /* Hide badge if count is zero */
}

/* Additional styling for TicketCard */
.ticket-column .ticket-card {
  margin-bottom: 15px;
}

.action-icons {
  display: flex;
  gap: 10px; 
}

.action-icon {
  cursor: pointer;
  color: rgba(85, 84, 84, 0.562);
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.action-icon:hover {
  background-color: #ddd; /* Adjust the color on hover as needed */
  color: #333; /* Adjust the text color on hover as needed */
}

/* Dynamic spacing for ticket count badge */
.ticket-column h2 .ticket-count-badge {
  margin-left: 10px; 
  max-width: calc(100% - 100px); 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.count {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.ticket-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.status-icon {
  font-size: 24px;
  color: #050606; /* You can customize the color */
  margin-right: 10px; /* Adjust the spacing as needed */
  display: flex;
  align-items: center;
  justify-content: baseline;
  transition: transform 0.2s ease-in-out;
}

.status-icon:hover {
  transform: scale(1.2); /* Adjust the scale factor for the icon on hover */
}


.priority-icon {
  font-size: 24px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

/* Add hover animation */
.priority-icon:hover {
  transform: scale(1.2);
}