/* TicketColumn.css */

.ticket-column {
  padding: 15px;
  margin: 0 10px;
  flex: 1;
  justify-content: center;
  align-items: baseline;
  border-radius: 8px;
}

.ticket-column h2 {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between; /* Reverted to space-between for responsiveness */
  align-items: center;
}

/* Count badge styles */
.ticket-count-badge {
  background-color: #007bff;
  color: #fff;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 14px;
}

/* Additional styling for TicketCard */
.ticket-column .ticket-card {
  margin-bottom: 15px;
}

.action-icons {
  display: flex;
  gap: 10px;
}

.action-icon {
  cursor: pointer;
  color: rgba(85, 84, 84, 0.562);
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.action-icon:hover {
  background-color: #ddd;
  color: #333;
}

/* Dynamic spacing for ticket count badge */
.ticket-column h2 .ticket-count-badge {
  margin-left: 10px;
  max-width: calc(100% - 100px); /* Adjusted max-width for responsiveness */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.count {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.ticket-heading {
  display: flex;
  flex-direction: column; /* Updated to column layout for responsiveness */
  align-items: flex-start; /* Align items to the start in column layout */
}

.status-icon,
.priority-icon {
  font-size: 24px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

/* Add hover animation */
.status-icon:hover,
.priority-icon:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  /* Apply styles for screens with a minimum width of 768px */
  .ticket-column {
    max-width: 300px; /* Adjust max-width based on your design */
    margin: 0 auto; /* Center the column on larger screens */
  }

  .ticket-heading {
    flex-direction: row; /* Revert to row layout for larger screens */
    justify-content: space-between;
    align-items: baseline;
  }

  .status-icon,
  .priority-icon {
    margin-right: 0; /* Remove margin-right for larger screens */
  }
}
