/* TicketCard.css */

.ticket-card {
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f5f5f5; /* Use a light greyish background color */
  position: relative;
  border-radius: 8px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjusted box shadow for a subtle effect */
  transition: all 0.3s ease-in-out; /* Smoother transition effect */
}

/* Add a subtle hover effect */
.ticket-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02); /* Slightly scale up on hover */
}

.profile-picture {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 5%;
}

.profile-picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image retains its aspect ratio */
}

.green-dot {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 12px;
  height: 12px;
  background-color: #4caf50;
  border-radius: 50%;
  border: 2px solid #fff;
}

h2,
h3 {
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}



.tag {
  background-color: #f0f0f0; /* Set the desired background color for tags */
  color: #333; /* Set the desired text color for tags */
  border-radius: 20px; /* Increase the border-radius for a curved effect */
  padding: 5px 15px; /* Adjust padding for spacing */
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #fff; /* Set the desired border color */
}


/* Priority dot styles */
.priority-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.urgent {
  background-color: red;
}

.high {
  background-color: orange;
}

.medium {
  background-color: yellow;
}

.low {
  background-color: green;
}

.no-priority {
  background-color: #ccc;
}
