.control-panel {
  position: absolute;
  top: 10px;
  left: 40px;
}

.dropdown {
  position: relative;
  margin-right: 20px;
}

.dropdown-toggle {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; 
}

.dropdown-toggle:hover {
  background-color: #f0f0f0; 
  transition: background-color 0.3s ease; 
}

.icon {
  font-size: 20px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 0 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

/* Separate lines for grouping and sorting */
.grouping-line,
.sorting-line {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

select {
  font-size: 14px;
  border: 1px solid #ddd;
  flex: 1;
}

.dropdown-content.adjusted {
  right: calc(-1 * (100% - 100px));
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 8px;
  color: #4a4848be;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .control-panel {
    position: static;
    margin-top: 20px;
    text-align: center;
  }

  .dropdown {
    margin: 0;
  }

  .dropdown-toggle {
    margin-bottom: 10px;
  }
}
